In [1]:
#엄마의 장바구니 입력
dataset = [['우유', '양파', '땅콩', '호두', '계란', '요거트'],
           ['감자', '양파', '두유', '호두', '계란', '요거트'],
           ['우유', '사과', '호두', '계란'],
           ['우유', '새우깡', '옥수수', '호두', '요거트'],
           ['옥수수', '감자', '양파', '호두', '아이스크림', '계란']]

In [3]:
#pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 2.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.2 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.23.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: setuptools in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (58.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.1.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.4.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from mlxtend) (1.9.0)
Requirement already satisfied: packaging>=20.0 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.34.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in c:\users\gonet\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# 트랜잭션 데이터로 바꾼다.
# 필요한 모듈이 있다. mlxtend - 데이터를 숫자화(boolean type) 시켜주는 모듈
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,감자,계란,두유,땅콩,사과,새우깡,아이스크림,양파,옥수수,요거트,우유,호두
0,False,True,False,True,False,False,False,True,False,True,True,True
1,True,True,True,False,False,False,False,True,False,True,False,True
2,False,True,False,False,True,False,False,False,False,False,True,True
3,False,False,False,False,False,True,False,False,True,True,True,True
4,True,True,False,False,False,False,True,True,True,False,False,True

In [5]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#지지도가 0.6이상인 규칙을 추출한다. 
apriori(df, min_support=0.6)

    support    itemsets
0       0.8         (1)
1       0.6         (7)
2       0.6         (9)
3       0.6        (10)
4       1.0        (11)
5       0.6      (1, 7)
6       0.8     (1, 11)
7       0.6     (11, 7)
8       0.6     (9, 11)
9       0.6    (10, 11)
10      0.6  (1, 11, 7)

In [6]:
#지지도가 0.6이상인 규칙을 추출한다. 
apriori(df, min_support=0.6, use_colnames=True)

    support      itemsets
0       0.8          (계란)
1       0.6          (양파)
2       0.6         (요거트)
3       0.6          (우유)
4       1.0          (호두)
5       0.6      (양파, 계란)
6       0.8      (계란, 호두)
7       0.6      (양파, 호두)
8       0.6     (요거트, 호두)
9       0.6      (우유, 호두)
10      0.6  (양파, 계란, 호두)

In [7]:
#아이템셋의 길이를 구하여 컬럼에 추가한다. 
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support      itemsets  length
0       0.8          (계란)       1
1       0.6          (양파)       1
2       0.6         (요거트)       1
3       0.6          (우유)       1
4       1.0          (호두)       1
5       0.6      (양파, 계란)       2
6       0.8      (계란, 호두)       2
7       0.6      (양파, 호두)       2
8       0.6     (요거트, 호두)       2
9       0.6      (우유, 호두)       2
10      0.6  (양파, 계란, 호두)       3

In [8]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.8) ]

   support  itemsets  length
6      0.8  (계란, 호두)       2

In [9]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'양파', '계란'} ]

   support  itemsets  length
5      0.6  (양파, 계란)       2

In [23]:
# 연관규칙을 생성한다. 
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(계란, 호두)",(양파),0.8,0.6,0.6,0.75,1.25,0.12,1.600000
1,"(계란, 양파)",(호두),0.6,1.0,0.6,1.00,1.00,0.00,inf
2,"(호두, 양파)",(계란),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(계란),"(호두, 양파)",0.8,0.6,0.6,0.75,1.25,0.12,1.600000
4,(호두),"(계란, 양파)",1.0,0.6,0.6,0.60,1.00,0.00,1.000000
5,(양파),"(계란, 호두)",0.6,0.8,0.6,1.00,1.25,0.12,inf
6,(호두),(요거트),1.0,0.6,0.6,0.60,1.00,0.00,1.000000
7,(요거트),(호두),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,(호두),(우유),1.0,0.6,0.6,0.60,1.00,0.00,1.000000
9,(우유),(호두),0.6,1.0,0.6,1.00,1.00,0.00,inf
10,(호두),(양파),1.0,0.6,0.6,0.60,1.00,0.00,1.000000
11,(양파),(호두),0.6,1.0,0.6,1.00,1.00,0.00,inf
12,(계란),(호두),0.8,1.0,0.8,1.00,1.00,0.00,inf
13,(호두),(계란),1.0,0.8,0.8,0.80,1.00,0.00,1.000000
14,(계란),(양파),0.8,0.6,0.6,0.75,1.25,0.12,1.600000
15,(양파),(계란),0.6,0.8,0.6,1.00,1.25,0.12,inf

In [29]:
rules[ (rules['lift'] > 1) & (rules['confidence'] >= 0.6) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(계란, 호두)",(양파),0.8,0.6,0.6,0.75,1.25,0.12,1.600000
2,"(호두, 양파)",(계란),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(계란),"(호두, 양파)",0.8,0.6,0.6,0.75,1.25,0.12,1.600000
5,(양파),"(계란, 호두)",0.6,0.8,0.6,1.00,1.25,0.12,inf
14,(계란),(양파),0.8,0.6,0.6,0.75,1.25,0.12,1.600000
15,(양파),(계란),0.6,0.8,0.6,1.00,1.25,0.12,inf